{% extends 'shop/main.html' %}
{% load static %}
{% block content %}
    <div class="row">
        <div class="col">
            <div class="item_box">
                <form method="post" action="{% url 'ordering_post' %}" >
                    {% csrf_token %}
                    <div id="user-data">
                        <div class="input-group">
                              <span class="input-group-text">Imię i nazwisko</span>
                              <input type="text" name="name" aria-label="First name" class="form-control">
                              <input type="text" name="surname" aria-label="Last name" class="form-control">

                        </div>
                        <br>
                        <div class="input-group">
                              <span class="input-group-text">Email i telefon:</span>
                              <input type="text" name="email" aria-label="E-mail" class="form-control">
                              <input type="text" name="phone" aria-label="Telefon" class="form-control">
                        </div>
                        <br>
                        <div class="input-group">
                              <span class="input-group-text">Miasto i kod pocztowy:</span>
                              <input type="text" name="city" aria-label="Miasto" class="form-control">
                              <input type="text" name="zipcode" aria-label="Kod pocztowy" class="form-control">
                        </div>
                        <br>
                        <div class="input-group">
                                <span class="input-group-text">Adres:</span>
                                <input type="text" name="address" aria-label="Adres" class="form-control">
                        </div>
                    </div>

                <br>
                <div class="item_box" id="payment">
                <a>
                    Metoda płatności: Płatność przy odbiorze
                </a>
                </div>
                <hr>
                <button id="butt" type="submit" class="btn btn-outline-secondary">Zamów</button>
                </form>
            </div>

        </div>

        <div class="col">
            <br>
            <a class="btn btn-secondary" href="{% url 'cart' %}">Cofnij</a>
            <div class="item_box">
                <hr>
                <h1>Podsumowanie zamówienia:</h1>
                    <div class="cartItems"></div>
                </div>
                <hr>
                    <h5>Przedmioty w koszyku: <span id="sum"></span></h5>
                    <h5>Łączna kwota: <span id="total_price"></span> PLN</h5>
            </div>

        </div>
    </div>
<script src="{% static 'js/checkout.js' %}" defer></script>
{% endblock content %}