{% extends 'shop/main.html' %}
{% load static %}
{% block content %}
    <div class="row">

        <div class="col">

            <div class="item_box">
                <form>
                    <div id="user-data">
                        <div class="input-group">
                              <span class="input-group-text">Imię i nazwisko</span>
                              <input type="text" name="name" aria-label="First name" class="form-control">
                              <input type="text" name="surname" aria-label="Last name" class="form-control">

                        </div>
                        <br>
                        <div class="input-group">
                              <span class="input-group-text">Email i telefon:</span>
                              <input type="text" name="email" aria-label="E-mail" class="form-control">
                              <input type="text" name="phone" aria-label="Telefon" class="form-control">
                        </div>
                        <br>
                        <div class="input-group">
                              <span class="input-group-text">Miasto i kod pocztowy:</span>
                              <input type="text" name="city" aria-label="Miasto" class="form-control">
                              <input type="text" name="zipcode" aria-label="Kod pocztowy" class="form-control">
                        </div>
                        <br>
                        <div class="input-group">
                                <span class="input-group-text">Adres:</span>
                                <input type="text" name="address" aria-label="Adres" class="form-control">
                        </div>
                    </div>
                </form>
                <br>
                <div class="item_box" id="payment">
                <a>Metoda płatności:</a>
                </div>
                <hr>
                <a class="btn btn-outline-secondary" href="#">Zapłać</a>
            </div>


        </div>



        <div class="col">
            <br>
            <a class="btn btn-secondary" href="{% url 'cart' %}">Cofnij</a>
            <div class="item_box">
                <hr>
                <h1>Podsumowanie zamówienia:</h1>
                <hr>
                <div class="row_cart">
                    <div style="flex:2"></div>
                    <div style="flex:2"><b>Przedmiot:</b></div>
                    <div style="flex:1"><b>Cena:</b></div>
                    <div style="flex:1"><b>Ilość:</b></div>
                </div>
                <br>

                {% for item in items %}
                <div class="row_cart">
                    <div style="flex:2"><img src="{{item.product.imageURL}}" width="150" height="150"></div>
                    <div style="flex:2">{{item.product.name}}</div>
                    <div style="flex:1">{{item.product.price|floatformat:2}} PLN</div>
                    <div style="flex:1">
                        <p class="quantity">{{item.quantity}}</p>
                        <!---<img class="shg-quantity" src="{%static 'images/arrow-up.png'   %}" width="10" height="10">

                        <img class="shg-quantity" src="{%static 'images/arrow-down.png'   %}" width="10" height="10"> -->
                    </div>
                </div>
                {% endfor %}
                <hr>
                    <h5>Przedmioty w koszyku: {{order.get_cart_items}}</h5>
                    <h5>Łączna kwota: {{order.get_cart_total|floatformat:2}} PLN</h5>
            </div>

        </div>
    </div>
{% endblock content %}