{% extends 'shop/main.html' %}
{% load static %}
{% block content %}
    <div class="row">
        <div class="col">
            <img src="{% static 'images/card-image.png' %}">
            <div class="item_box">
                <h1>nazwa</h1>
                <button type="button" class="btn btn-outline-success">Dodaj do koszyka</button>
                <a class="btn btn-outline-secondary" href="#">Zobacz</a>
                <h2 class="cena" style="float: right">cena</h2>
            </div>
        </div>

        <div class="col">
            <img src="{% static 'images/card-image.png' %}">
            <div class="item_box">
                <h1>nazwa</h1>
                <button type="button" class="btn btn-outline-success">Dodaj do koszyka</button>
                <a class="btn btn-outline-secondary" href="#">Zobacz</a>
                <h2 class="cena" style="float: right">cena</h2>
            </div>
        </div>

        <div class="col">
            <img src="{% static 'images/card-image.png' %}">
            <div class="item_box">
                <h1>nazwa</h1>
                <button type="button" class="btn btn-outline-success">Dodaj do koszyka</button>
                <a class="btn btn-outline-secondary" href="#">Zobacz</a>
                <h2 class="cena" style="float: right">cena</h2>
            </div>

        </div>

        <div class="col">
            <img src="{% static 'images/card-image.png' %}">
            <div class="item_box">
                <h1>nazwa</h1>
                <button type="button" class="btn btn-outline-success">Dodaj do koszyka</button>
                <a class="btn btn-outline-secondary" href="#">Zobacz</a>
                <h2 class="cena" style="float: right">cena</h2>
            </div>

        </div>


    </div>
{% endblock content %}
