{% extends 'shop/main.html' %}
{% load static %}
{% block content %}
    <div class="row">
        {% for item in allItems %}
        <div class="col">

            <img class = "thumbnail" src="{{item.imageURL}}">
            <div class="item_box">
                <h1>{{item.name}}</h1>
                <button data-item-id={{item.id}}
                        data-item-name='{{item.name}}'
                        data-item-price={{item.price}}
                        data-item-quantity="1"
                        data-item-image={{item.imageURL}}
                        data-action="add" type="button"
                        class="btn btn-outline-success add-btn update-cart">Dodaj do koszyka</button>
                <a class="btn btn-outline-secondary" href="#">Zobacz</a>
                <h2 class="cena" style="float: right">{{item.price|floatformat:2}} PLN</h2>
            </div>
        </div>
        {% endfor %}
        </div>


    </div>

<script src="{% static 'js/shop.js' %}" defer></script>
{% endblock content %}
