body{
    background-color: #F5F5DC;
}

.btn{
    border-radius: 0;
}

.col{
  border-width: 1px;
  border-style: solid;
  border-color: black;
  margin:10px;
}
.item_box{
    padding:10px
}

.cena{
    font-size:12px;
}

.table{
    padding:10px
}

.row_cart{
    display: flex;
    word-spacing: 10px;
}

.elements{
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 80px;
    margin-left: 80px;
}

.img{
    max-height: 150px;
    max-width: 200px;
    width: 120px;
    height: 120px;
}